a.out.dSYM/Contents/Resources/DWARF/a.out
a.out
.DS_Store
a.out.dSYM/Contents/Info.plist
*.o
Cub3D.dSYM/Contents/Info.plist
minilibx/mlx_image.swiftsourceinfo
minilibx/mlx_window.swiftsourceinfo
minilibx/mlx_init.swiftsourceinfo
